<h1>Lista de Pedidos</h1>
<app-order-search (search)="onSearch($event)"></app-order-search>
<div *ngIf="orders.length > 0" class="item-container">
  <div *ngFor="let order of orders" class="item-card">
    <div class="item-details">
      <p class="item-id">Pedido #{{ order.id }}</p>
      <p class="item-date">Data: {{ order.creation | formatDateTime }}</p>
      <p class="item-total">Total: <span class="highlight">R$ {{ order.total | number: '1.2-2' }}</span></p>
      <p class="item-status">Status: <span class="status">{{ order.status }}</span></p>
      <p>Cliente: <b>{{order.user.name}}</b></p>
      <button class="view-button" (click)="openModal(order)">Ver detalhes</button>
    </div>
  </div>
</div>
<div *ngIf="orders.length == 0" class="no-item">
  <h1>Nenhum pedido cadastrado</h1>
</div>

<div class="modal-backdrop" *ngIf="selectedOrder">
  <div class="modal">
    <div class="modal-header">
      <h3>Detalhes do Pedido #{{ selectedOrder.id }}</h3>
      <button class="close-button" (click)="closeModal()">×</button>
    </div>
    <div class="modal-content">
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <p><strong>Data:</strong> {{ selectedOrder.creation | formatDateTime }}</p>
        <p><strong>Status:</strong> {{ selectedOrder.status }}</p>
      </div>
      <hr>
      <p><strong>Itens:</strong></p>
      <ul>
        <li *ngFor="let item of selectedOrder.items">
          {{ item.quantity }}x {{ item.product.name }} - V.Unit: R$ {{ item.product.price | number: '1.2-2' }} - Sub-Total: R$ {{ item.product.price*item.quantity | number: '1.2-2' }}
        </li>
      </ul>
    </div>
    <hr>
    <p style="text-align: right;"><strong>Total:</strong> R$ {{ selectedOrder.total | number: '1.2-2' }}</p>
  </div>
</div>
