
<div class="product-form-container">
    <h2>Cadastro de Produtos</h2>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nome do Produto:</label>
            <input type="text" id="name" formControlName="name" />
            <div *ngIf="productForm.controls['name'].invalid && (productForm.controls['name'].dirty || productForm.controls['name'].touched)" class="error-message">
                Nome é obrigatório.
            </div>
        </div>

        <div class="form-group">
            <label for="description">Descrição:</label>
            <input type="text" id="description" formControlName="description" />
            <div *ngIf="productForm.controls['description'].invalid && (productForm.controls['description'].dirty || productForm.controls['description'].touched)" class="error-message">
                Descrição é obrigatória.
            </div>
        </div>

        <div class="form-group">
            <label for="type">Tipo de Produto:</label>
            <select formControlName="type">
                <option [value]="'drink'">Bebida</option>
                <option [value]="'meal'">Refeição</option>
                <option [value]="'accompaniment'">Acompanhamento</option>
                <option [value]="'dessert'">Sobremesa</option>
                <option [value]="'pizza'">Pizza</option>
              </select>
        </div>

        <div class="form-group">
            <label for="price">Preço:</label>
            <app-currency-input
                id="price"
                formControlName="price"
                class="price"
                [required]="true">
            </app-currency-input>
        </div>

        <button type="submit" [disabled]="productForm.invalid" class="submit-button">Salvar</button>
    </form>
</div>
