@keyframes blink {
  0%, 100% { background-color: transparent; }
  25%, 75% { background-color: lightgreen; }
  50% { background-color: yellowgreen; }
}

.blink {
  animation: blink 1s ease-in-out 10;
}

body {
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

.grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.column {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}

.column h2 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px;
  margin-bottom: 4px;
  border-bottom: 1px solid #ddd;
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

li.show {
  opacity: 1;
  transform: translateY(0);
}

#prepared{
  display: flex;
  flex-direction: column-reverse;
}